# ---------- OS ----------
.DS_Store

# ---------- Python ----------
__pycache__/
*.pyc
.venv/
venv/
env/

# ---------- R ----------
.Rhistory
.RData
.Rproj.user/

# ---------- Jupyter ----------
.ipynb_checkpoints/

# ---------- Proteomics / Omics ----------
*.raw
*.mzML
*.mzXML
*.d
*.wiff
*.wiff.scan

# ---------- Logs ----------
*.log

# ---------- IDE ----------
.vscode/